#mynavbar .nav-item{
    /* background-color: aqua; */
    margin-left: 80px;
    
}
#mynavbar .nav-item .nav-link:hover {
    color: green;
}

.sec{
    margin-top: 50px;
    height: 400px;
    /* background-color: rgb(130, 187, 130); */
    
   
}
.sec h1{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 20px;
}
.sec .sec1{
    display: flex;
    justify-content: space-evenly;
}

.sec1 .card-body:hover{
    background-color: green;
}
.footer{
    background-color: black
}
.footer h1{
    margin-top: 20px;
    color: aliceblue;
    
}
.footer #f1{
    display: flex;
    justify-content: space-around;
}
.footer #f1 h2{
    font-size: 20px;
    color: aliceblue;
}
.footer h3{
    font-size: 20px;
    margin-left: 180px;
    color: aliceblue;
}
#d1{
    display: flex;
    justify-content: space-evenly;
}
.third1 {
    margin: 50px;
    
}

    

